html {
  padding: 0;
  margin: 0;
  
   box-sizing: border-box;
  font-size: 62.5%; /* 16px *62.5 =10px = 1rem*/
}
body {
    height: 100vh;
  margin: 0;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* layout */
.headerOptions {
   display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns:  1fr;
    grid-template-rows:  5rem 1fr 5rem;
    height: 100%;

}
header{
    grid-area: header;
    background-color: #203040;
}
main{
    grid-area: main;
     
}
footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff
}

/* common */
a {
   text-decoration: none;
  
}
a:hover{
  color: #ff8000;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

/* header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  font-size: 3rem;
  font-weight: bold;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row.center{
 
  justify-content: center;
  flex-wrap: wrap;
 
 }

 /* images */
 img{
   border-radius: 0.5rem;
 }
 img.medium{
   max-width: 20em;
   width: 100%;
 }

 /* card */

 .card {
   border:  0.1em #c0c0c0 solid;
   background-color: #f8f8f8;
   border-radius: 0.5em;
   margin: 1em;
   /* width: 20%; */
   
 }
 .card-body{
   padding:  1em;
 }
 .card-body >  * {
   margin-bottom: 0.5em;
 }
 .price{
   font-size: 2rem;
   font-weight: bold;
 }
 .ratings{
   color: #DAA520 ;
   margin: 0.5rem;
 }
 